extends layout

block content
  .jumbotron
    .container
      if authed
        h1 Welcome back, #{name}
      else
        img(src="img/logo_white.png", alt="logo", height="50px", style="margin-bottom: 30px;")
        p Open courses platform
  .container
    .row
      if authed
        .col-md-9
          h3 My Courses
          hr
          .row
            each course in courses
              .col-md-6
                .course-summary
                  a(href="/" + username + "/" + course.order).course-summary-icon
                    i.fa.fa-book(aria-hidden="true")
                  .course-summary-body
                    h3.course-summary-body-title
                      a(href="/" + username + "/" + course.order) #{course.name}
                    p #{course.description}

        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}
            .panel-body #{bio}
      .col-md-9
        h3 Discover Courses
        hr
        .row
          each course in publicCourses
            .col-md-6
              .course-summary
                a(href="/" + username + "/" + course.order).course-summary-icon
                  i.fa.fa-book(aria-hidden="true")
                .course-summary-body
                  h3.course-summary-body-title
                    a(href="/" + username + "/" + course.order) #{course.name}
                  p #{course.description}
