extends layout

block content
  .jumbotron
    .container
      if authed
        h1 Welcome back, #{name}
      else
        img(src="img/logo_white.png", alt="logo", height="50px", style="margin-bottom: 30px;")
        p Open courses platform where everyone can create and follow courses.
  .container
    .row
      if authed
        if courses.length == 0
          .col-md-9
            p.lead You have no courses yet. Why don't you create one?
            a(href="/new").btn.btn-primary.btn-lg Create course
        else
          .col-md-9
            h3 My Courses
            hr
            .row
              each course in courses
                .col-md-6
                  .course-summary
                    a(href="/" + username + "/" + course.slug).course-summary-icon
                      i.fa.fa-book(aria-hidden="true")
                    .course-summary-body
                      h3.course-summary-body-title
                        a(href="/" + username + "/" + course.slug) #{course.name}
                      p #{course.description}

        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}
            .panel-body #{bio}
      .col-md-12
        h3 Discover Courses
        hr
        .row
          each course in publicCourses
            .col-md-4
              .course-summary
                a(href="/" + course.username + "/" + course.slug).course-summary-icon
                  i.fa.fa-book(aria-hidden="true")
                .course-summary-body
                  h3.course-summary-body-title
                    a(href="/" + course.username + "/" + course.slug) #{course.name}
                  p #{course.description}
