extends layout

block content
  .section-header
    .container
      .row.vertical-align
        .col-md-9
          .section-header-title
            h2 Courses by #{username}
        .col-md-3
          .row
            .col-md-6.col-md-offset-5
              a(href="/new").btn.btn-block.btn-primary Create
  .section-body
    .container
      .row
        .col-md-9
          .row
            each course in courses
              .col-md-6
                .course-summary
                  .course-summary-body
                    h3.course-summary-body-title
                      a(href="/" + username + "/" + course.slug) #{course.name}
                    p #{course.description}

        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}&nbsp;
                div(style="font-size: 14px; display: inline-block;") (
                  a(href="/" + username + "/edit").small Edit
                  | )
            .panel-body #{bio}
