extends ../layout

block content
  .section-header
    .container
      .row.vertical-align
        .col-md-9
          .section-header-title
            h2 #{name}
        .col-md-3
          .row
            .col-md-6.col-md-offset-5
              a(href="/" + username + "/" + courseSlug + "/new").btn.btn-block.btn-primary Create section
  .section-body
    .container
      .row
        .col-md-9
          .single
            .section-body-title Description
            p.lead #{description}
            hr
            if sections.length == 0
              .alert.alert-success Course&nbsp;
                em #{name}&nbsp;
                | has been created. Create your first section by clicking&nbsp;
                a(href="/" + username + "/" + courseSlug + "/new") here
                | .
            else
              table.table.table-hover.theme-table
                thead
                  tr
                    th Sections
                tbody
                each singleSection in sections
                  tr
                    td
                      a(href="/" + username + "/" + courseSlug + "/" + singleSection.slug ).course-single-section
                        h3 #{singleSection.title}
                        p #{singleSection.content}

        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}
            .panel-body #{bio}
