extends ../layout

block content
  .section-header
    .container
      .row.vertical-align
        .col-md-9
          .section-header-title
            h2 #{name}
        .col-md-3
          .row
            .col-md-6.col-md-offset-5
              a(href="/#{username}/#{courseId}/edit").btn.btn-block.btn-primary
                i.fa.fa-pencil
                | &nbsp;Edit
  .section-body
    .container
      .row
        .col-md-9
          .single
            .section-body-title Description
            p.lead #{description}
            table.table.table-hover.theme-table
              thead
                tr
                  th Sections
              tbody
              each value in sections
                tr
                  td
                    a(href="/#{username}/#{courseId}/1").course-single-section
                      h3 #{value.title}
                      p #{value.content}
          
        .col-md-3
          .panel.panel-default
            .panel-heading.text-center
              .panel-title #{username}
            .panel-body #{username} is an ipsum dolor sit amet, consectetur
              | adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
          .panel.panel-default
            .panel-body
              a(href="#").share-wrapper
                i.fa.fa-share
                | &nbsp;Share
